<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CustomerDao">
    <delete id="delete">
        delete from customerinfo where id = 9
    </delete>

    <select id="getAllCustomers" resultType="com.entity.Customer">
        select id,name,age,times,deptid from customerinfo order by id
    </select>
</mapper>